
body{
    
    background:url('bg_for_calc.png');
    background-repeat: repeat;
    /* background-color: rgb(207, 208, 255); */
    
}
.heading{
    text-align: center;

}
h1{

    
    background-color: rgb(45, 45, 45);
    color:rgb(255, 255, 255);
    /* width:200px; */
    border-radius: 10px;

}
.cen{
   
    background-color: rgba(163, 246, 252, 0.56);
    width:350px;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 15px;
    box-shadow: 5px 15px 15px  rgb(1, 16, 16),
                inset 12px 12px 55px  rgb(13, 104, 104);
    backdrop-filter: blur(10px);

    border-radius: 15px;
   
    
    position:absolute;
   
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: end;
}
button{
    font-family: 'Source Serif Pro', serif;
    margin:3px;
    border:2px solid rgba(53, 50, 50, 0.853);
    font-size: large;
    width: 50px;
    padding: 5px;;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color:rgb(192, 191, 183);
    
    
}
.container
{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.row:last-child{
    border:2px solid rgb(176, 76, 9);
    background-color: orange;
}
.row:last-child:hover{
    background-color: rgb(255, 123, 0) ;
}
.cal{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: 5px solid black; */
}
.text_area input{
    font-family: 'Source Serif Pro', serif;
    font-size: x-large;
    color: rgb(0, 0, 0);
    padding: 5px;
    width: 280px;
    height: 50px;
    background-color: rgb(245, 238, 228);
    border-radius:20px;
    margin:10px;
    box-shadow:-8px -4px 8px rgba(19, 86, 95, 0.79);
    border:3px solid rgb(9, 0, 0);
               
}
.row{
    box-shadow:-8px -4px 12px  rgba(19, 86, 95, 0.79);
}
.row:active{
    font-size: medium;
}
.expand{
    width:100px;
}
#ac{
    background-color: rgb(255, 66, 66);
}
#ac:hover{
    background-color: rgb(255, 0, 0);
    color:rgb(12, 0, 0);
}
#eq{
    border:2px solid green;
    background-color: rgba(91, 252, 59, 0.786);
}
#eq:hover{
    background-color: rgb(6, 248, 30);
}
.feature{
    font-size: small;
    width: 75px;
    height: 45px;
    padding: .2px;
    background-color: rgba(32, 32, 32, 0.908);
    color:aliceblue;
    border:2px solid aliceblue;
   
   
}

.feature:hover{
    background-color: rgb(0, 0, 0);
}

.sc, #to{
    border:2px solid rgb(119, 28, 128);
    background-color: rgb(228, 168, 230);
}
.sc:hover ,#to:hover{
    background-color:rgb(231, 65, 237); 
}

#c{
    border:2px solid rgb(6, 89, 255);
    background-color: rgb(68, 130, 254);
}
#c:hover{
    background-color: rgb(0, 85, 255);

}
